.FooterMaster{
  height: 56px;
  bottom: 0px;
  width: 1216px;
  margin-bottom: 20px;
  margin-top:30px;
}
.headers_container{
  /* height: 115px; */
  position: relative;
  width: 100%;

}
.city_user_header{
  height:70px;
}
.top_nav_container{
  height:45px;
  position: relative;
  width: 100%;
  background: #244f86 !important;
  /* z-index:1006; */

}
@media (max-width: 770px){
  .top_nav_container {
    position: relative;
    clear: both;
}
}

#main_nav{
  width:100%;
  height:45px;
}
#main_nav.sticky{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background: #244f86;
  /* padding: 0 20px; */

}
.row{
  margin-bottom: 0px;
}
