<ng-container>
  <div id="edit-panel" [ngStyle]="{'height': divHeight}">
    <div class="style-toggle" (click)="togglePanel()">
      <i class="fa fa-edit"></i>
    </div>
    <div id="edit-panel-container">
      <ng-content>
        <!-- *********************************************************************** -->
        <!-- <app-form-component  [opensPanel]="opensEditPanel" [closesPanel]="closesEditPanel" [height]="....." > -->
        <!-- *********************************************************************** -->
      </ng-content>
    </div>
  </div>
</ng-container>
