::ng-deep #events {
  background-color: rgba(191, 191, 191, 0.15);
  padding: 20px;
  margin-top: 20px;
}

::ng-deep #events>div {
  padding-bottom: 5px;
}

::ng-deep #events>div:after {
  content: "";
  display: table;
  clear: both;
}

::ng-deep #events #clear {
  float: right;
}

::ng-deep #events .caption {
  float: left;
  font-weight: bold;
  font-size: 115%;
  line-height: 115%;
  padding-top: 7px;
}

::ng-deep #events ul {
  list-style: none;
  max-height: 100px;
  overflow: auto;
  margin: 0;
}
::ng-deep .dx-datagrid{
  font-size:12px;
  font-family: IRANSans-web !important;
}

::ng-deep .dx-header-row{
  background-color:#32c5d2;
  color:#FFF;
}
/* ::ng-deep .dx-datagrid-table-fixed{
  width:unset !important;
} */
::ng-deep .dx-datagrid .dx-header-filter-empty{
  color:#FFF;
}
