<div class="container" dir='ltr'>

  <div class="row">

    <div class="col-md-12">

        <app-dx-base name="PlanServiceGrid" [dataSource]="dataSource$" [dxOptions]="dxOptions"     >
      </app-dx-base>

    </div>
    <div class="col-md-1"></div>
    <div class="col-md-10">

      <div class="example-container">
        <form #customForm="ngForm" class="example-container" [formGroup]="options">

          <mat-checkbox formControlName="hideRequired">Hide required marker</mat-checkbox>
          <!-- radio btn -->
          <div>
            <label for="name">Float label: </label>
            <mat-radio-group formControlName="floatLabel">
              <mat-radio-button value="Auto">Auto</mat-radio-button>
              <mat-radio-button value="Always">Always</mat-radio-button>
              <mat-radio-button value="Never">Never</mat-radio-button>
            </mat-radio-group>
          </div>
          <!-- input -->
          <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker="false">
            <mat-label>Both a label and a placeholder</mat-label>
            <input matInput id="inputT" [(ngModel)]="inputtxt" placeholder="Simple placeholder" autocomplete="off"
              [ngModelOptions]="{standalone: true}" required #inp>
            <mat-error *ngIf="!inputtxt">ارور</mat-error>
          </mat-form-field>
          {{inp.className}}
          <!-- combo box -->
          <mat-form-field appearance="outline" [hideRequiredMarker]="options.value.hideRequired"
            [floatLabel]="options.value.floatLabel">
            <mat-select id="inputT" required>
              <!-- <mat-option *ngFor="let item of items"  value="item.value">-- {{item.lbl}} --</mat-option> -->
              <mat-option>-- None --</mat-option>
              <mat-option value="option">Option</mat-option>
              <mat-option value="primary">Primary</mat-option>
              <mat-option value="accent">Accent</mat-option>
              <mat-option value="warn">Warn</mat-option>
            </mat-select>
            <mat-label>
              <mat-icon>favorite</mat-icon> <b> Fancy</b> <i> label</i>
            </mat-label>
          </mat-form-field>


          <button mat-raised-button type="submit" color="primary">ذخیره</button>
          <button mat-raised-button type="button" (click)="clearForm(customForm)">ریست</button>

        </form>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>


<app-dashboard>
    <div class="example-container">
        <form #customForm="ngForm" class="example-container" [formGroup]="options">

          <mat-checkbox formControlName="hideRequired">Hide required marker</mat-checkbox>
          <!-- radio btn -->
          <div>
            <label for="name">Float label: </label>
            <mat-radio-group formControlName="floatLabel">
              <mat-radio-button value="Auto">Auto</mat-radio-button>
              <mat-radio-button value="Always">Always</mat-radio-button>
              <mat-radio-button value="Never">Never</mat-radio-button>
            </mat-radio-group>
          </div>
          <!-- input -->
          <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker="false">
            <mat-label>Both a label and a placeholder</mat-label>
            <input matInput id="inputT" [(ngModel)]="inputtxt" placeholder="Simple placeholder" autocomplete="off"
              [ngModelOptions]="{standalone: true}" required #inp>
            <mat-error *ngIf="!inputtxt">ارور</mat-error>
          </mat-form-field>
          {{inp.className}}
          <!-- combo box -->
          <mat-form-field appearance="outline" [hideRequiredMarker]="options.value.hideRequired"
            [floatLabel]="options.value.floatLabel">
            <mat-select id="inputT" required>
              <!-- <mat-option *ngFor="let item of items"  value="item.value">-- {{item.lbl}} --</mat-option> -->
              <mat-option>-- None --</mat-option>
              <mat-option value="option">Option</mat-option>
              <mat-option value="primary">Primary</mat-option>
              <mat-option value="accent">Accent</mat-option>
              <mat-option value="warn">Warn</mat-option>
            </mat-select>
            <mat-label>
              <mat-icon>favorite</mat-icon> <b> Fancy</b> <i> label</i>
            </mat-label>
          </mat-form-field>
</form>
</div>

  <button mat-raised-button type="submit" color="primary">ذخیره</button>
  <button mat-raised-button type="button" (click)="clearForm(customForm)">ریست</button>

</app-dashboard>
