<div class="top-navigation top-navigation-1">

  <ul class="menu-bottom list-unstyled">
    <li class="level-1">
      <a  routerLinkActive="active" routerLink="/general/bank">
        <span>بانک و شعب</span>
      </a>
      <ul class="menu-bottom list-unstyled">
        <li>
          <a  routerLinkActive="active" routerLink="/general/bank">
            <span>بانک</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <ul class="menu-bottom list-unstyled">
    <li class="level-1">
      <a  routerLinkActive="active" routerLink="/arshad/CalcParams/HBank">
        <span>منو ۲</span>
      </a>
      <ul class="menu-bottom list-unstyled">
        <li>
          <a  routerLinkActive="active" routerLink="/arshad/CalcParams/HBank">
            <span>زیرمنو ۲</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
<div class="leftItems">
  <ul class="nav nav-inline navbar-right-1">
    <li class="nav-item">
      <a class="nav-link toggle-fullscreen" (click)="toggleFullscreen()">
        <i class="sli-size-fullscreen"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link toggle-cache" (click)="clearLocal()">
        <i class="fa fa-times-circle-o"></i>
      </a>
    </li>
  </ul>
  <div class="logoContainer">
    <a  routerLinkActive="active" routerLink="/dashboard">
      <!-- <img width="100" src="assets/images/logo2.png"> -->
    </a>
  </div>
</div>

<div class="menu_mobile">
  <div class="rightItem dib vato" (click)="openMenu()">
    <i class="fa fa-bars"></i>
  </div>
</div>


<!---منوی موبایل-->
<ul class="menu_mobile_container" #menuContainer>

  <li>
    <!--طرح و بر و کف-->
    <a  routerLinkActive="active" routerLink="/general/bank"(click)="closeMenu()">
      <span>بانک و شعب</span>
    </a>
    <i class="fa fa-caret-left Caret-left" aria-hidden="true" (click)="tabSelected=2;showSubMenu(tabSelected);"></i>
    <ul class="subMenu" id="sub2" [ngClass]="{'open': tabSelected ==2}">
      <li>
        <!--انواع طرح شهری-->
        <a  routerLinkActive="active" routerLink="/general/bank" (click)="closeMenu()">
          <span>بانک</span>
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a  routerLinkActive="active" routerLink="/arshad/CalcParams/HBank" (click)="closeMenu()">
      <span>منو ۲</span>
    </a>
    <i class="fa fa-caret-left Caret-left" aria-hidden="true" (click)="tabSelected=3;showSubMenu(tabSelected);"></i>
    <ul class="subMenu" id="sub3" [ngClass]="{'open': tabSelected ==3}">
      <li>
        <!--معرفی حساب های بانکی-->
        <a  routerLinkActive="active" routerLink="/arshad/CalcParams/HBank">
          <span>منو ۲زیر</span>
        </a>
      </li>
    </ul>
  </li>

  <div class="clearfix clearfixColor"></div>
