<div class="row" >

  <app-dx-base [dataSource]="dataSource" [dxOptions]="Options">
  </app-dx-base>
</div>

<div class="nmsFormBox">
  <form #BankForm="ngForm" novalidate>
    <app-form-box formId="frmMapParvane">
      <div class="modal-body">
        <div class="row">


          <app-input class="col-md-3" appNmsValidators="number" name="mapEtebarDays" formId="frmCustomer"
            objId="inpName" [(ngModel)]="bankModel.id" required></app-input>


          <app-input class="col-md-3" appNmsValidators="number" name="mapEtebarDays" formId="frmMyWay"
            objId="tblThidway" [(ngModel)]="bankModel.name" required></app-input>

        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-responsive" [disabled]="BankForm.invalid"
          (click)="submitForm(BankForm, $event)">{{AppConfig.getNameObj('frmShare','shareBtnSave')}}</button>
        <button type="button" class="btn btn-default btn-responsive"
          (click)="clearform(BankForm)">{{AppConfig.getNameObj('frmShare','shareBtnCancel')}}</button>
      </div>

    </app-form-box>
  </form>
</div>
